{% extends presta_cms.layout %}

{% block content %}
<h4>{% block sonata_profile_title %}{% trans from 'SonataUserBundle' %}sonata_profile_title{% endtrans %}{% endblock %}</h4>

<div class="sonata-user-show row">

    <div class="col-md-2 span2 well" style="padding: 8px 0;">
        {% block sonata_profile_menu %}
            {{ sonata_block_render({'type': 'sonata.user.block.menu'}, {'current_uri': app.request.requestUri}) }}
        {% endblock %}
        <a href="{{ path('fos_user_security_logout') }}" class="pull-right">
            <i class="icon-lock"></i>&nbsp;{{ 'btn.logout'|trans({}, "PrestaCMSUserBundle") }}
        </a>
    </div>

    <div class="col-md-10 span10">
        {% for message in app.session.flashbag.get('fos_user_success') %}
            <div class="alert alert-success">
                {{ message|trans({}, "SonataUserBundle") }}
            </div>
        {% endfor %}

        {% block sonata_profile_content %}
        {% endblock %}
    </div>

</div>
{% endblock content %}